.list__description {
    max-width: 282px;
    margin: 0;
    padding: 0;
    margin-right: 17px;
    margin-bottom: 20px;
}

.list__description:nth-child(3){
    margin-right: 0;
  }

.list__description:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}